.pagination__menu{
    width: 100%;
    padding: 1.5rem;
}

.pagination__pages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__pages ul{
    background-color: white;
    padding: 0.5rem;
    border-radius: 40px;
    border: 1px solid var(--primary-color);
}