.photos__container{
    width: 100%;
}

.photos__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.photos__img{
    margin: 0.5rem;
    width: 150px;
    height: 150px;
}