.dashboard-container{
    min-height: 100vh;
    width: 100vw;
}

.dashboard-top-menu{
    display: flex;
    flex-direction: row;
}

.dashboard-left-menu {
    width: 30vw;
    background-color: #fff;
    height: 75vh;
    margin:30px 30px 30px 0px;
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.dashboard-left-menu-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.dashboard-left-menu-img img {
    width: 10vw;
    height: 10vw;
    margin-right: 1vh;
}
.dashboard-left-menu-user-info{
    width: 45%;
    margin-left: 25px;

}

.dashboard-left-menu-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    max-height: 17vh
}

.dashboard-left-menu-user-address{
    width: 45%;

}

.dashboard-left-menu-user-company{
    width: 45%;
    margin-left: -10px;

}

.dashboard-left-menu-button button{
    margin-top: 140px;
    margin-left: 7.5rem;
}

.user-data{
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    display: none;
}

h3{
    font-size: 1.2rem !important;
}

.photoItem{
    margin: 10px;
}

.posts{
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    height: 75vh;
    overflow:scroll;
    overflow-x: hidden;
    margin-top: 1.9rem;
    padding: 1rem;   
}

.single-post{
    width: auto;
    padding: 0.5rem;
    border-radius: 10px;
}

.single-post:hover{
    background-color:rgb(224, 224, 224);
}

h2{
    text-align: center;
    padding: 30px;
}

.test-tabs{
    color: #fff;
}