.dashboard-container{
    height: 100vh;
    width: 100vw;
}

.dashboard-left-menu {
    width: 20vw;
    background-color: #fff;
    height: 75vh;
    margin: 30px;
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.dashboard-left-menu img {
    width: 100%;
    height: 25vh;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    display: none;
}