.photoForm-container{
    padding: 1.5rem;
}
.photoForm-container input:focus[type=text]{
    border: 0;
    outline:0;
}

.photoForm-container form{
    display: flex;
    justify-content: center;
}

.input-search{
    outline: 0;
    margin-left: 5px;
    border-radius: 20px;
	border: 1px solid var(--primary-color);
	background-color: #FFFFFF;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
}
