body{
    overflow:scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: tomato;
    border-radius: 20px;
    border: 3px solid transparent;
}